:root {
  --color-primary: #ff3e54f1;
  --color-primary-darken: #ff3e5493;
  --color-darken: #0000008c;
  --color-white: #e9e9e9;
  --color-black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width: 1rem;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: var(--color-primary);
  border-radius: .6rem;
}

body {
  font-family: sans-serif;
  background-color: #494949;
} 

nav{
  top: 0%;
  position: sticky;
}
.menu-bar {
  background-color: var(--color-black);
  height: 10vh;
  display: flex;
}

.menu-bar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu-bar ul li a {
  padding: 10px 20px;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}
.menu-bar > img{
  margin-left: 35px;
}

.home{
  min-height: 90vh;
  display: flex;
  align-items: center;
  background:linear-gradient(rgba(0, 0, 0, 0.571),rgba(0, 0, 0, 0.511)), url(../../bestelpagina/imgs/pizza.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
}
.home .content{
  max-width: 60rem;
}
.home .content h3{
  font-size: 4rem;
  text-transform: uppercase;
  color: #FFF;
}
.home .content p{
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #EEE;
}
.home .content a{
  font-size: 1.5rem;
  padding: 5px 20px;
  background-color: var(--color-primary);
  color: #EEE;
  text-decoration: none;
}
.services{
  min-height: 90vh;
  background: var(  --color-primary-darken);
  color: #EEE;
}
.services > h3{
  font-size: 2.5rem;
  text-align: center;
}

.service-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  grid-gap: 1.5rem;
  margin-top: 3rem;
  padding: 2rem;
}
.service-container img{
  width: 250px;
  height: 300px;
}