.home{
  min-height: 90vh;
  display: flex;
  align-items: center;
  background:linear-gradient(rgba(0, 0, 0, 0.571),rgba(0, 0, 0, 0.511)), url(../../paginas/imgs/pizza.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
}
.home .content{
  max-width: 60rem;
}
.home .content h3{
  font-size: 4rem;
  text-transform: uppercase;
  color: #FFF;
}
.home .content p{
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #EEE;
}
.home .content a{
  font-size: 1.5rem;
  padding: 5px 20px;
  background-color: var(--color-primary);
  color: #EEE;
  text-decoration: none;
}
.services{
  min-height: 90vh;
  background: var(  --color-primary-darken);
  color: #EEE;
}
.services > h3{
  font-size: 2.5rem;
  text-align: center;
}

.service-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  grid-gap: 1.5rem;
  margin-top: 3rem;
  padding: 2rem;
}
.service-container img{
  width: 250px;
  height: 300px;
}